table{
    height: auto;
    width: 100%;
    
}


th, td {
    text-align: center;
    padding: 10px;
    height: auto;
    width: 100%;
  }

  #list1{
      margin-top:140px;
      width: 310px;
  }


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    font-size:12pt;
}

.tekst
{
font-size:12pt

}
    

label {
  
    margin-top:0px;
    font-size: 10pt;
    padding: 10px;
    margin-left: -10px;
}


.filtr
{
    left:335px;
    position: absolute;
    text-align: right;
    left: 102%;
    top: -90px; 
    font-size:12pt;
    
}

.filtr option{
  filter: inherit;
filter: initial;
margin-bottom: unset;
}











